@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
  .dark body {
    @apply bg-gray-900 text-white;
  }

  input, textarea, select {
    @apply bg-white border-gray-300;
  }
  .dark input, .dark textarea, .dark select {
    @apply bg-gray-700 border-gray-600 text-white;
  }
}
